
*.pyc
*.hdf5
*.h5
*.gz
*.npz
*.tgz
*.mat
*.zip
Introduction to Deep Learning/readonly/week4/lfw_attributes.txt
*.pickle
*.index
*.meta
*.data-00000-of-00001
*.csv
*.npy
/How to Win a Data Science Competition Learn from Top Kagglers/Programming assignment week 4 CatBoost/catboost_info
/How to Win a Data Science Competition Learn from Top Kagglers/Programming assignment week 4 CatBoost/learning_rate_0.05
/How to Win a Data Science Competition Learn from Top Kagglers/Programming assignment week 4 CatBoost/learning_rate_0.5
*.bin
/How to Win a Data Science Competition Learn from Top Kagglers/Final project
/Practical Reinforcement Learning/RL_lectures
*.json
*.mp4
Deep Learning in Computer Vision/Week2/facial-keypoints/data
